#titulo{
    color: green;
    text-align: center;
}

p#descricao {
    color: blue;
}

p.promocao {
    text-align: center;
    background-color: lightgreen;
}

.nova {
    color: white;
}

p.final-pagina#rodape {
    background-color: lightgray;
    text-align: center;
}

/* separamos os seletores usando uma vírgula. Ela faz um papel de "ou lógico" */
.curso, .novo-curso {
    background-color: aliceblue;
}

/* agora não precisamos mais repetir a cor de fundo*/
.novo-curso {
    color: red;
}