#titulo{
    color: green;
    text-align: center;
}

p#descricao {
    color: blue;
}

p.promocao {
    text-align: center;
    background-color: lightgreen;
}

.nova {
    color: white;
}

p.final-pagina#rodape {
    background-color: lightgray;
    text-align: center;
}